@{
    string requestUrl = Request.Url.ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="沙雕,沙雕社区">
    <meta name="description" content="沙雕社区">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Plugins/layer/css")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">巴啦啦</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">主页</a></li>
                    <li><a href="/Home/About">关于</a></li>
                    <li><a href="/Home/Contact">联系方式</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <div class="container">
            <div class="row text-center">
                <p>小礼物走一走，你的支持就是我们最大的努力</p>
            </div>
            <div class="row text-center">
                <div id="btn-pay" class="btn btn-pay">赞赏支持</div>
            </div>
        </div>
        <audio src="~/Resource/mp3/2.mp3" id="audio" autoplay="autoplay" controls="controls" loop="true" hidden="true"></audio>
        <input type="button" onclick="autoPlay()" value="播放" />
        <input type="button" onclick="closePlay()" value="关闭" />

        <hr />
        <footer class="text-center">
            <p>footer</p>
            <p>&copy; <span id="footer_time"></span></p>
        </footer>
    </div>

    <!--跳转顶部-->
    <div id="gotop" data-am-widget="gotop" class="am-gotop am-gotop-fixed am-no-layout am-active">
        <a href="javascript:void(0)">
            <img class="am-gotop-icon-custom" src="~/Resource/img/goTop.png">
        </a>
    </div>


    <!--页底菜单-->
    <div id="footer_nav" data-am-widget="navbar" class="am-navbar am-cf am-navbar-default  am-no-layout">
        <ul class="am-navbar-nav am-cf am-avg-sm-4 smnav">
            <li>
                <a href="/">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="am-navbar-label">主页</span>
                </a>
            </li>
            <li>
                <a href="#m-num" data-am-offcanvas="">
                    <span class="glyphicon glyphicon-list"></span>
                    <span class="am-navbar-label">菜单</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="glyphicon glyphicon-globe"></span>
                    <span class="am-navbar-label">网页</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="glyphicon glyphicon-facetime-video"></span>
                    <span class="am-navbar-label">视频</span>
                </a>
            </li>
            <li>
                <a href="/">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span class="am-navbar-label">购物</span>
                </a>
            </li>
        </ul>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/layer")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)

    <script>

        $(function () {

            //设置返回顶部按钮
            setGoTop();

            //刷新页底菜单
            refreshFooterNav();

            //打赏
            $("#btn-pay").bind("click", function () {
                //询问框
                layer.open({
                    content: '请选择支付方式？'
                    , btn: ['微信', '支付宝']
                    , yes: function (index) {
                        layer.close(index);
                        layer.open({
                            type: 1,
                            title: false,
                            closeBtn: 0,
                            shadeClose: true,
                            skin: 'layui-layer-nobg',
                            content: "<img src='/Resource/img/wxpay.png'/>"
                        });
                    }
                    , no: function (index) {
                        layer.close(index);
                        layer.open({
                            type: 1,
                            title: false,
                            closeBtn: 0,
                            shadeClose: true,
                            skin: 'layui-layer-nobg',
                            content: "<img src='/Resource/img/alipay.png'/>"
                        });
                    }
                });


            })

            //滚动控制按钮显示
            $(window).scroll(function () {
                setGoTop();
            });
            //返回顶部按钮绑定事件
            $('#gotop').click(function () {
                $('html,body').animate({ scrollTop: '0px' }, 200);
            });

            //播放音乐
            autoPlay();

            //显示时间
            showtime();
        });
    </script>

    <!--百度统计-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d7031ab628655ac8bb28d46e9b996d1f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!--百度收录-->
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>

</body>
</html>
