@model Common.Entity.Business.CustomerTemplateInfoEntity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.FTitle</title>
</head>
<body onload="autoPlay();">
    <div>
        <center>

            <p>这是您创建的模板哟~</p>

            <p>@Model.FP1</p><br />

            <p>@Model.FP2</p><br />

            <p>@Model.FP3</p><br />

            <p>@Model.FP4</p><br />

            <p>@Model.FDescription</p><br />

            <p>@Model.FProducer</p><br />

        </center>

        <audio src="@Model.FMusic" id="audio" autoplay="autoplay" controls="controls" loop="true" hidden="true"></audio>
    </div>

    <script>
        function autoPlay() {
            var myAuto = document.getElementById('audio');
            myAuto.play();
        }

    </script>
</body>
</html>
