<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    @Styles.Render("~/Content/layui")
    <style id="lay_layadmin_theme">
        .layui-side-menu, .layadmin-pagetabs .layui-tab-title li:after, .layadmin-pagetabs .layui-tab-title li.layui-this:after, .layui-layer-admin .layui-layer-title, .layadmin-side-shrink .layui-side-menu .layui-nav > .layui-nav-item > .layui-nav-child {
            background-color: #20222A !important;
        }

        .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a {
            background-color: #009688 !important;
        }

        .layui-layout-admin .layui-logo {
            background-color: #20222A !important;
        }
    </style>
</head>
<body class="layui-layout-body">
    <div id="lay_app" class="layadmin-tabspage-none">

        @RenderBody()


        @Scripts.Render("~/Script/layui")
        @RenderSection("scripts", required: false)
        <script>
            layui.config({
                base: '/dist/' //指定 layuiAdmin 项目路径
                , version: '1.2.1'
            }).use('admin', function () {

            });
            var body = "#lay_app_body";
            //        .use('index', function () {
            //    var layer = layui.layer, admin = layui.admin;
            //    layer.ready(function () {
            //        admin.popup({
            //            content: '单页面专业版默认未开启“多标签”功能，实际运用时，你可以自定义是否开启'
            //            , area: '300px'
            //            , btnAlign: 'c'
            //            , shade: false
            //        });
            //    });
            //});
            window.onhashchange = function () {
                layui.admin.events.refresh();
            }
        </script>
        @RenderSection("PageScript", false)
    </div>
</body>
</html>
